.login__container {
  margin: 0 auto;
  padding: 20px;
  border-radius: 25px;
  background-color: $LoginColorBackground;
  margin-top: 10vh;
  width: 420px;
  height: 420px;
  //   display: flex;
  //   flex-direction: row;
  border: black solid 2px;
  .login__title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
  }
  Form {
    display: flex;
    flex-direction: column;
    .login__input {
      margin-bottom: 30px;
    }
    .login_button {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      width: 344px;
      height: 56px;
      button {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        width: 100%;
        height: 100%;
        font-size: 20px;
        // font-weight: bold;
        background-color: $cartColorButton;
        color: white;
        border: 1px solid $cartColorButton;
        border-radius: 4px;
        margin-top: 30px;
        transition: ease all 0.3s;
        &:hover {
          background-color: white;
          color: $cartColorButton;
          border: 1px solid $cartColorButton;
        }
      }
    }
    .login__info {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      cursor: pointer;
    }
  }
}
