$backgroundColor: #e1dcf3;
$navColorTextHover: #b988b2;
$navColorText: white;
$musicColorbackground: #e1dcf3;
$musicColorPrice: #1ed760;
$smallSize: 18px;

@import "./Navbar";
@import "./Music";
@import "./MusicList";
